html {
    width: 100%;
}
body {
    min-width: 600px;
    max-width: 900px;
    width: 95%;
    margin: auto;
}
.content {
    width:900px;
    margin-left: 2em;
}
h1 {
    margin: 2em 0 0 0;
    color: #2e484c;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    text-align: center;
}
a:link {
    font-weight: bold;
    text-decoration: none;
    color: #0d8ba1;
}
a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #1a5952;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #9685BA;
}
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    text-align: justify;
    text-justify: inter-word;
}
ul {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
}
.customer360_hype_container
{
    display: inline-block;
}